@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 50px;
    height: 50px;
    margin-top: 260px;
    margin-bottom: 100px;
    border:solid 5px #106d3b;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
     -webkit-transition: all 0.9s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
        
         transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

.load-2 {
    width: 50px;
    height: 50px;
    margin-top: 120px;
    margin-bottom: 30px;
    border:solid 5px #106d3b;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
     -webkit-transition: all 0.9s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
        
         transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}

.load-3 {
    width: 50px;
    height: 50px;
    margin-top: 22%;
    margin-bottom: 30%;
    border:solid 5px #ffc400;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
     -webkit-transition: all 0.9s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
        
         transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

#loading-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    z-index: 9999;
}